.containerListVerde {
  height: 87px;
  width: 100%;
  background: #f8f9fa;
  border-radius: 12px;
  margin-bottom: 32px;

  border-left: 8px solid #03b898;
}

.containerListVermelho {
  height: 87px;
  width: 100%;
  background: #f8f9fa;
  border-radius: 14px;
  margin-bottom: 32px;

  border-left: 8px solid red;
}

.containerListVermelho:hover {
  transition-duration: 350ms;

  box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.75);
}
.containerListVerde:hover {
  transition-duration: 350ms;
  box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.75);
}

.ContainerDescriptionEType {
  padding-left: 38px;
  margin-right: 41px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.valor {
  color: #212529;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.type {
  padding-left: 38px;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
}

.lixeira {
  border: none;
}
